/* bootstrap tweaks */
.bootstrap-anchors-processed .page-desk-stats .subgroup { margin-top: -4px; }
.subgroup legend + div { margin-top: 0.5em; }

/* core theme style overrides: legend */
.subgroup legend {
  font-size: inherit;
  margin-bottom: 0;
  position: relative;
}

#content h2 {
  margin-top: 0;
}

.page-desk-stats .tabs {
  margin: 0;
}

.page-desk-stats form p {
  margin: 1em 0 0 0;
}

.page-desk-stats form .container-inline {
  margin-bottom: 10px;
}

.page-desk-stats form input.form-radio {
  margin-left: 20px;
  float: none;
}

.page-desk-stats form .form-type-radio label {
  margin-left: 5px;
}

.page-desk-stats .inquiry .form-group:last-child {
  margin-bottom: 15px;
}

.page-desk-stats .form-item-location {
  display: inline-block;
}

.form-item-inquiry-notes .description,
.form-item-referral-details .description {
  color: #aa0404 !important;
}

.page-desk-stats select#edit-location {
  display: inline-block;
}

.page-desk-stats .subgroup {
  margin-left: 20px;
}

.page-desk-stats #form-container select {
  margin-bottom: 15px;
}

.page-desk-stats .container-inline-date .date-padding {
  padding: 0;
  margin-bottom: 20px;
}

.page-desk-stats .student-type .form-group, .page-desk-stats .staff-type .form-group {
  margin-bottom: 20px;
  margin-top: 5px;
}

.page-desk-stats button.save-location {
  margin-left: 20px;
}

.page-desk-stats div.key {
  background: #f0f0f0;
  padding: 10px;
}

.page-desk-stats div.key h2 {
  font-size: 20px;
  margin-top: 0px;
}

.page-desk-stats div.key dd {
  margin-bottom: 10px;
}

.page-desk-stats div#form-container {
  margin-bottom: 20px;
}

.page-desk-stats input#stats-submit {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  background-image: none;
}

.page-desk-stats div.time .form-item {
  margin-top: 0;
}

.page-desk-stats #edit-date, .page-desk-stats #edit-date input, .page-desk-stats .container-inline-date .form-item {
  width: 100%;
}

.page-desk-stats fieldset.wrapper-expanded legend {
  background-image: none;
  background-color: #f5f5f5;
}

.page-desk-stats #stats {
  margin: -10px -10px 35px; 
  padding: 10px 10px 14px; 
  background: #EAE59E;
}

.page-desk-stats #stats table {
  font-weight: bold;
}

.page-desk-stats #stats th, #stats td {
  text-align: left;
  padding:5px;
} 

.page-desk-stats #stats th {
  width: 45%;
}
